@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0px 20px;
}

body {
  background-color: #FBF8EC;
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  z-index: 2222;
}
header .inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .inner .navigation .center {
  display: flex;
  align-items: center;
}
header .inner .navigation .center .fl {
  display: flex;
  align-items: center;
  background-color: #70C05B;
  margin-right: 16px;
  padding: 9px;
  border-radius: 4px;
}
header .inner .navigation .center .fl div {
  margin-right: 16px;
  margin-left: 16px;
}
header .inner .navigation .center .fl div p {
  margin-bottom: -5px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 5px;
}
header .inner .navigation .center .fl .bars {
  cursor: pointer;
}
header .inner .navigation .urta {
  display: flex;
  border: 1px solid green;
  padding: 8px 16px;
  border-radius: 4px;
}
header .inner .navigation .urta .urta2 input {
  border: none;
  outline: 0;
  outline-offset: 0;
  max-width: 250px;
}
header .inner .con {
  display: flex;
  align-items: center;
  text-align: center;
}
header .inner .con .u {
  margin-left: 15px;
  margin-right: 15px;
}
header .inner .con p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #414141;
}
header .inner .sec {
  display: flex;
}
header .inner .sec img {
  margin-right: 20px;
}
header .inner .sec select {
  border: none;
}

.navigation {
  position: relative;
}
.navigation ul {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navigation ul li {
  margin-left: 60px;
}
.navigation ul li a {
  position: relative;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  line-height: 1;
  transition: 0.5s;
}

.navigation a::before {
  content: "" attr(data-menu) "";
  position: absolute;
  z-index: 1;
  color: #ef476f;
  width: 0px;
  transition: 0.5s;
  overflow: hidden;
}

.navigation a:hover::before {
  width: 100%;
}

input#toggle-icon,
.toggle-icon {
  display: none;
}

main .section1 img {
  margin-top: 10px;
  width: 100%;
}
main .section2 {
  margin-top: 76px;
  margin-bottom: 40px;
}
main .section2 .aktsi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .section2 .aktsi h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #414141;
}
main .section2 .aktsi .aktsi2 {
  display: flex;
}
main .section2 .aktsi .aktsi2 p {
  cursor: pointer;
  margin-right: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #606060;
}
main .section2 .aktsi .aktsi2 img {
  cursor: pointer;
}
main .section2 .cardlar {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  justify-content: space-between;
}
main .section2 .cardlar .card__1 {
  width: 100%;
  background-color: white;
  border-radius: 4px;
}
main .section2 .cardlar .card__1 .rasm {
  position: relative;
}
main .section2 .cardlar .card__1 .rasm .taom {
  width: 100%;
}
main .section2 .cardlar .card__1 .rasm .like {
  position: absolute;
  right: 8px;
  top: 8px;
}
main .section2 .cardlar .card__1 .rasm .ellik {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
main .section2 .cardlar .card__1 .bottom {
  padding: 6px;
}
main .section2 .cardlar .card__1 .bottom .novinki {
  margin-top: 10px;
  margin-bottom: 10px;
}
main .section2 .cardlar .card__1 .bottom .novinki h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #414141;
  margin-bottom: 10px;
}
main .section2 .cardlar .card__1 .bottom .novinki .kombayn {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
}
main .section2 .cardlar .card__1 .bottom .pi {
  display: flex;
  justify-content: space-between;
}
main .section2 .cardlar .card__1 .bottom .pi .raqam {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #414141;
}
main .section2 .cardlar .card__1 .bottom .pi .c {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #BFBFBF;
}
main .section2 .cardlar .card__1 .bottom .pi .raqam__2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #606060;
}
main .section2 .cardlar .card__1 .bottom g {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
}
main .section2 .cardlar .card__1 .bottom .star {
  display: flex;
  margin-bottom: 10px;
}
main .section2 .cardlar .card__1 .bottom .star .star__l {
  margin-left: 5px;
}
main .section2 .cardlar .card__1 .bottom .button {
  width: 100%;
}
main .section2 .cardlar .card__1 .bottom .button a {
  width: 100%;
}
main .section2 .cardlar .card__1 .bottom .button a button {
  all: unset;
  width: 100%;
  border: 1px solid #70C05B;
  color: #70C05B;
  padding: 8px 0px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}
main .section2 .cardlar .card__1:hover .button a button {
  border: 1px solid #FF6633;
  background-color: #FF6633;
  color: white;
}
main .section__3 {
  margin-top: 100px;
  margin-bottom: 100px;
}
main .section__3 h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #414141;
}
main .section__3 .card2 {
  display: flex;
}
main .section__3 .card2 .card__21 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FCD5BA;
  padding: 15px 30px;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
}
main .section__3 .card2 .card__21 h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #414141;
}
main .section__3 .card2 .card__21 img {
  width: 100%;
}
main .section__3 .card2 .card__22 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E5FFDE;
  padding: 15px 30px;
  border-radius: 4px;
  margin-left: 40px;
}
main .section__3 .card2 .card__22 h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #414141;
}
main .section__3 .card2 .card__22 p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
}
main .section__3 .card2 .card__22 img {
  width: 100%;
}
main .section__4 .sec__4 .buttonlar {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
}
main .section__4 .sec__4 .buttonlar .left {
  margin-left: 20px;
}
main .section__4 .sec__4 .buttonlar button {
  all: unset;
  border: 1px solid #F3F2F1;
  padding: 5px 10px;
  background-color: #F3F2F1;
  border-radius: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #606060;
  text-align: center;
  transition: 0.3s;
}
main .section__4 .sec__4 .buttonlar button:hover {
  background-color: #70C05B;
  color: white;
}
main .section__4 .sec__4 .map {
  margin-bottom: 50px;
}
main .section__5 .aktsi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
main .section__5 .aktsi h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #414141;
}
main .section__5 .aktsi .aktsi2 {
  display: flex;
}
main .section__5 .aktsi .aktsi2 p {
  cursor: pointer;
  margin-right: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #606060;
}
main .section__5 .aktsi .aktsi2 img {
  cursor: pointer;
}
main .section__5 .uch__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: space-between;
}
main .section__5 .uch__card .bir-card {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 50px;
}
main .section__5 .uch__card .bir-card .top {
  overflow: hidden;
}
main .section__5 .uch__card .bir-card .bottom {
  padding: 6px;
}
main .section__5 .uch__card .bir-card img {
  width: 100%;
  transition: 0.4s;
}
main .section__5 .uch__card .bir-card .a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #8F8F8F;
}
main .section__5 .uch__card .bir-card h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #414141;
}
main .section__5 .uch__card .bir-card .b {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
}
main .section__5 .uch__card .bir-card button {
  all: unset;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  background-color: #E5FFDE;
  color: #70C05B;
  transition: 0.3s;
}
main .section__5 .uch__card .bir-card:hover button {
  background-color: #70C05B;
  color: white;
}
main .section__5 .uch__card .bir-card:hover img {
  transform: scale(1.1);
}

footer {
  background-image: url(../../img/footer.png);
  padding-top: 30px;
  padding-bottom: 50px;
}
footer .futer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .futer .f-1 {
  display: flex;
  align-items: center;
}
footer .futer .f-1 .left {
  margin-left: 30px;
  margin-bottom: -10px;
}
footer .futer .f-1 .left p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
}
footer .futer .f-1 .left p:hover {
  cursor: pointer;
  color: #70C05B;
}
footer .futer .f-2 {
  display: flex;
  align-items: center;
}
footer .futer .f-2 .left {
  margin-left: 20px;
}
footer .futer .f-2 img:hover {
  cursor: pointer;
}
footer .futer .f-3 .f-33 {
  display: flex;
}
footer .futer .f-3 .f-33 .dizayn {
  margin-right: 10px;
}
footer .futer .f-3 .f-33 .raqam {
  margin-left: 10px;
  cursor: pointer;
}
footer .futer .f-3 .f-33 .raqam:hover {
  color: #70C05B;
}

@media (min-width: 2000px) {
  main .section1 {
    width: 1280px;
    margin: auto;
  }
}
@media (max-width: 1200px) {
  footer .futer {
    flex-direction: column;
  }
  footer .futer .f-2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1100px) {
  header {
    padding: 20px 50px;
    padding-bottom: 40px;
  }
  header .inner .logo-wrap .logo2 {
    margin-top: -10px;
  }
  header .inner .navigation nav ul li a {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
  }
  header .inner .navigation nav ul li a:hover {
    border-bottom: 1px solid white;
    transition: 0.5s;
  }
  header .inner .con {
    display: none;
  }
  .logo {
    font-size: 38px;
  }
  .navigation {
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
  }
  .navigation ul li {
    margin-left: 0px;
    width: 100%;
    background: #F53855;
    animation: liAnim 0.5s 0ms ease-in forwards;
    transform-origin: left;
    opacity: 0;
    transform: scaleY(0);
  }
  .navigation ul li:nth-child(1) {
    animation-delay: 100ms;
  }
  .navigation ul li:nth-child(2) {
    animation-delay: 300ms;
  }
  .navigation ul li:nth-child(3) {
    animation-delay: 500ms;
  }
  .navigation ul li:nth-child(4) {
    animation-delay: 700ms;
  }
  .navigation ul li:nth-child(5) {
    animation-delay: 900ms;
  }
  .navigation ul li:nth-child(6) {
    animation-delay: 1100ms;
  }
  @keyframes liAnim {
    0% {
      opacity: 0;
      transform: scaleY(0);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  .navigation a {
    line-height: 1;
    display: block;
    color: white !important;
    padding: 15px 10px;
  }
  .navigation a::before {
    color: rgb(0, 0, 0);
  }
  .navigation nav {
    display: none;
  }
  .toggle-icon {
    display: block;
  }
  .toggle-icon {
    position: fixed;
    top: 6px;
    right: 50px;
    width: 55px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  /* hamburger css start */
  .hamburger {
    position: relative;
    width: 60%;
    height: 60%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  }
  .burger-1::before,
  .burger-1::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 8px;
    transition: 0.3s;
  }
  .burger-1::before {
    transform: translateY(-10px);
  }
  #toggle-icon:checked + .toggle-icon .burger-1::before {
    transform: translateY(0) rotate(-315deg);
  }
  .burger-1::after {
    transform: translateY(10px);
    box-shadow: 0 -10px 0 black;
  }
  #toggle-icon:checked + .toggle-icon .burger-1::after {
    transform: translateY(0) rotate(-45deg);
    box-shadow: unset;
  }
  #toggle-icon:checked ~ nav {
    display: block;
  }
}
@media (max-width: 1040px) {
  main .section__3 .card2 {
    flex-direction: column;
  }
  main .section__3 .card2 .card__22 {
    margin-left: 5px;
    margin-top: 30px;
  }
}
@media (max-width: 1000px) {
  main .section2 .cardlar {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 900px) {
  main .section__5 .uch__card {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 850px) {
  main .section2 .cardlar {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 818px) {
  footer .futer {
    flex-direction: column;
  }
  footer .futer .f-1 {
    flex-direction: column;
  }
  footer .futer .f-1 .left {
    margin-left: 0px !important;
    margin-top: 20px;
  }
}
@media (max-width: 670px) {
  main .section__5 .uch__card {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  main .section2 .cardlar {
    grid-template-columns: 1fr;
    width: 70%;
    margin: auto;
  }
  main .section__3 .card2 .card__21, main .section__3 .card2 .card__22 {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  main .section__4 .sec__4 .buttonlar {
    flex-direction: column;
  }
  main .section__4 .sec__4 .buttonlar .left {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media (max-width: 490px) {
  main .section2 .cardlar {
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
  }
}/*# sourceMappingURL=home.css.map */