main {

    .top {
        display: flex;
        margin-top: 100px;

        .r {
            margin-left: 24px;
            margin-right: 24px;
        }

        a {
            text-decoration: none;
            color: black;
            transition: .3s;

            &:hover {
                color: red;
            }
        }
    }

    .section__1 {
        margin-top: 50px;
        display: flex;
        align-items: center;
        background-image: url(../../img/0-nas-all.png);
        width: 100%;
        height: 100%;

        h1 {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 150%;
            color: #414141;
        }

        p {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            color: #FF6633;
            margin-top: 16px;
        }

        .rasm {
            width: 100%;
            background-image: url(../../img/0-nas-green.png);
            padding: 50px;
            background-size: cover;

            img {
                width: 100%;
            }
        }
    }

    .section__2 {
        margin-top: 120px;
        display: flex;
        justify-content: space-between;

        .o__nas__bir {
            display: flex;
            width: 100%;

            p {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                color: #414141;
                margin-bottom: 16px;
            }

            h3 {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 150%;
                color: #414141;
            }

            .check {
                margin-right: 10px;
            }
        }
    }

    .section__3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 125px;

        margin-bottom: 100px;

        .left {
            width: 20%;
        }

        .pi {
            display: flex;
            align-items: center;
            width: 100%;

            .gr {
                width: 100%;


                p {
                    background-color: #E5FFDE;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 150%;
                    color: #70C05B;
                    padding: 30px 40px;
                    border-radius: 4px;
                    word-spacing: 8px;
                    letter-spacing: 2px;

                }
            }
        }
    }
}

footer {
    background-image: url(../../img/footer.png);
    padding-top: 30px;
    padding-bottom: 50px;

    .futer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .f-1 {
            display: flex;
            align-items: center;

            .left {
                margin-left: 30px;
                margin-bottom: -10px;

                a {
                    font-family: 'Rubik';
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #414141;

                    &:hover {
                        cursor: pointer;
                        color: #70C05B;
                    }
                }
            }
        }

        .f-2 {
            display: flex;
            align-items: center;

            .left {
                margin-left: 20px;
            }

            img:hover {
                cursor: pointer;
            }
        }

        .f-3 {
            .f-33 {
                display: flex;

                .dizayn {
                    margin-right: 10px;
                }

                .raqam {
                    margin-left: 10px;
                    cursor: pointer;

                    &:hover {
                        color: #70C05B;
                    }
                }
            }
        }
    }
}


@media (max-width: 1222px) {
    main {
        .section__1 {
            flex-direction: column;

            .rasm {
                width: 60%;
                margin: auto;
                margin-top: 100px;
            }
        }
    }
}


@media (max-width: 1200px) {

    .section__2 {
        flex-direction: column;
        justify-content: center;
        width: 30%;
        margin: auto;
        .o__nas__bir {
            margin-top: 30px;
        }
    }

    footer {
        .futer {
            flex-direction: column;

            .f-2 {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
}


@media (max-width: 1100px) {
    header {
        padding: 20px 50px;
        padding-bottom: 40px;

        .inner {
            .logo-wrap {
                .logo2 {
                    margin-top: -10px;
                }
            }

            .navigation {
                nav {
                    ul {
                        li {
                            a {
                                font-family: 'Rubik';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #4F5665;
                            }

                            a:hover {
                                border-bottom: 1px solid white;
                                transition: .5s;
                            }
                        }
                    }
                }
            }

            .con {
                display: none;
            }

            .sec {
                display: none;
            }
        }
    }

    .logo {
        font-size: 38px;
    }

    .navigation {
        position: absolute;
        top: 33px;
        left: 0;
        width: 100%;
    }

    .navigation ul li {
        margin-left: 0px;
        width: 100%;
        background: #F53855;
        animation: liAnim 0.5s 0ms ease-in forwards;
        transform-origin: left;
        opacity: 0;
        transform: scaleY(0);
    }

    .navigation ul li:nth-child(1) {
        animation-delay: 100ms;
    }

    .navigation ul li:nth-child(2) {
        animation-delay: 300ms;
    }

    .navigation ul li:nth-child(3) {
        animation-delay: 500ms;
    }

    .navigation ul li:nth-child(4) {
        animation-delay: 700ms;
    }

    .navigation ul li:nth-child(5) {
        animation-delay: 900ms;
    }

    .navigation ul li:nth-child(6) {
        animation-delay: 1100ms;
    }

    @keyframes liAnim {
        0% {
            opacity: 0;
            transform: scaleY(0);
        }

        100% {
            opacity: 1;
            transform: scaleY(1);
        }
    }

    .navigation a {
        line-height: 1;
        display: block;
        color: white !important;
        padding: 15px 10px;
    }

    .navigation a::before {
        color: rgb(0, 0, 0);
    }

    .navigation nav {
        display: none;
    }

    .toggle-icon {
        display: block;
    }

    .toggle-icon {
        position: fixed;
        top: 6px;
        right: 50px;
        width: 55px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    /* hamburger css start */
    .hamburger {
        position: relative;
        width: 60%;
        height: 60%;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }

    .burger-1::before,
    .burger-1::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: black;
        border-radius: 8px;
        transition: 0.3s;
    }

    .burger-1::before {
        transform: translateY(-10px);
    }

    #toggle-icon:checked+.toggle-icon .burger-1::before {
        transform: translateY(0) rotate(-315deg);
    }

    .burger-1::after {
        transform: translateY(10px);
        box-shadow: 0 -10px 0 black;

    }

    #toggle-icon:checked+.toggle-icon .burger-1::after {
        transform: translateY(0) rotate(-45deg);
        box-shadow: unset;
    }

    #toggle-icon:checked~nav {
        display: block;
    }

}

@media (max-width: 1100px) {
    .section__2 {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        .o__nas__bir {
            margin-top: 30px;
            text-align: center;
            justify-content: center;
        }
    }
}

@media (max-width: 818px) {
    footer {
        .futer {
            flex-direction: column;

            .f-1 {
                flex-direction: column;

                .left {
                    margin-left: 0px !important;
                    margin-top: 20px;
                }

            }
        }
    }
}

@media (max-width: 800px) {
    main {
        .section__1 {
            flex-direction: column;

            .rasm {
                width: 90%;
                margin: auto;
                margin-top: 100px;
            }
        }
    }
}

@media (max-width: 600px) {
    main {
        .section__1 {
            flex-direction: column;

            .rasm {
                width: 100%;
                margin: auto;
                margin-top: 100px;
            }
        }
        .section__3 {
            flex-direction: column;
            .pi {
                margin-top: 20px;
                .bur {
                    display: none;
                }
            }
        }
    }
}